<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RearViewMirror.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <RearViewMirror.Properties.Settings>
            <setting name="serverPort" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="serverRunning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="updateSettings" serializeAs="String">
                <value>True</value>
            </setting>
        </RearViewMirror.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="AForge.Video" publicKeyToken="CBFB6E07D173C401" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.2.4.0" newVersion="2.2.4.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="AForge.Video.DirectShow" publicKeyToken="61EA4348D43881B7" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.2.4.1" newVersion="2.2.4.1"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
